<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../images/weather.png">
<title>404</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    <dir class="a1">
        {{>header}}
   <p>{{errormsg}}</p> 
    </dir>

{{>footer}}
</body>
</html>