<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../images/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    <div class="a1">
         {{>header}}
        <img   src="../images/sa.jpg">
    </div>
   

{{>footer}}
</body>
</html>