<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../images/weather.png">
<title>Help</title>
<link rel="stylesheet" href="../css/styles.css">
 

</head>
<body>
    <div class="a1">
        {{>header}}

    </div>


  

    {{>footer}}
</body>
</html>