<!-- partial allow us you to create litte template  that is part of bigger web page
that little template is reuseable in you template or webpages.It is part of html
just like header and footer.U want header and footer to look similar in all 
webpages so you create partial of header and footer  and then use the partial in differnet webpages instead
instead of coping header and footer in al pages.And if u want to make any change in header and footer u will just make chnage
in partials not all header and footer of each page-->
<header><h1>{{tittle}}</h1>
<div>
    <a href="/">weather</a>
    <a href="/about">abOUT</a>
    <a href="/help">heLP</a>

</div></header>